# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ---- Environment ----
.env
venv/
.venv/

# ---- Flask ----
instance/
*.db
*.sqlite3

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- VSCode ----
.vscode/

# ---- Logs ----
*.log

# ---- Compiled ----
*.so

# ---- Cache ----
.cache/
